<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
.sign-up-htm{
	/* top:50%;
	left:50%;
	right:50%;
	bottom:50%;
	position:absolute;
    text-transform:uppercase;
    background:rgba(40,57,101,.9); */
    text-align: center;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20%;
    
}
.button{
    background-color: #6a6f8c;
    color: white;
    
    text-align: center;
    text-decoration: none;
}
.button:hover{
    background-color: #282a37;
    color: white;
}
    </style>
</head>
<body>
    <div class="sign-up-htm">
        <a href="/api/v1/users/register">
            <button class="button" >Sign-Up</button>
          </a> 
          <a href="/api/v1/users/login">
            <button class="button" >Login</button>
          </a> 
    </div>
    
</body>
</html>