<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/api/v1/users/update-password" method="post">
    <label for="currentPass">Enter Old Password</label><br>
    <input type="text" name="currentPass" placeholder="Enter Password" required /><br>
    <label for="newPassword">Enter New Password</label><br>
    <input type="text" name="newPassword" placeholder="Enter New Password" required /><br>
    <button type="submit">Reset Password</button>
    </form>
</body>
</html>