<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Your Information</h1>
    <form action="/api/v1/users/update-information" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="fullname">Full Name:</label><br>
    <input type="text" id="fullname" name="fullname" required><br>
   <button type="submit">Update Information</button>
    </form>
</body>
</html>